<div ng-controller="CurrentFilesTabPanelCtrl">
	<uib-tabset>
		<uib-tab ng-repeat="file in currentFiles" active="file.active" disable="file.disabled">
			<uib-tab-heading>
				{{ file.name }}
	        	<i title="Close this file" ng-click="close($event, file.id)" class="glyphicon glyphicon-remove-sign pull-right file-close-icon"></i>
	      	</uib-tab-heading>

			<div class="edit-box-container">
				<editor-edit-box contentEditable="true">{{ file.text }}</editor-edit-box>
			</div>
		</uib-tab>
	</uib-tabset>
</div>