<nav class="navbar navbar-inverse" role="navigation">
	<!-- Brand and toggle get grouped for better mobile display -->
	<div class="navbar-header">
		<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
			<span class="sr-only">Toggle navigation</span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
		</button>
		<a class="navbar-brand" href="/">Editor</a>
	</div>

	<!-- Collect the nav links, forms, and other content for toggling -->
	<div class="collapse navbar-collapse navbar-ex1-collapse">
		<ul class="nav navbar-nav">
			<li ng-repeat="item in menu_items" ng-class="{true: 'dropdown'}[item.subItems.length > 0]">
				<a ng-click="item.whenClicked" ng-hide="item.subItems.length > 0" href="{{ item.link }}">
					<span class="glyphicon glyphicon-{{ item.glyphicon }}"></span> {{ item.text }}
				</a>
				
				<a ng-click="item.whenClicked" ng-show="item.subItems.length > 0" href="{{ item.link }}" class="dropdown-toggle" data-toggle="dropdown">
					<span class="glyphicon glyphicon-{{ item.glyphicon }}"></span>
					{{ item.text }} <b class="caret"></b>
				</a>

				<ul ng-show="item.subItems.length > 0" class="dropdown-menu">
					<li ng-repeat="subItem in item.subItems">
						<a set-on-click="{{ subItem.whenClicked }}" href="{{ subItem.link }}">
							<span class="glyphicon glyphicon-{{ subItem.glyphicon }}"></span> {{ subItem.text }}
						</a>
					</li>
				</ul>
			</li>
		</ul>
	</div><!-- /.navbar-collapse -->
</nav>