* {
	font-size: 9pt;
}

body {color: #ccc; background-color: #333;}

.top-navbar {border-radius: 0px; margin-bottom: 5px;}
.top-navbar .navbar-nav>li>.dropdown-menu {background-color: #ccc;}
.top-navbar .dropdown-menu>li {border-bottom: 1px solid #bbb;}
.top-navbar .dropdown-menu>li>a:hover {color: #fff; background-color: #444;}

.current-files-tab-panel .nav>li.active>a {background-color: #fff; color: #000;}
.current-files-tab-panel .nav>li>a {padding: 3px 5px; color: #ccc; background-color: #555;}
.current-files-tab-panel .nav-tabs {border-bottom: 1px solid #555;}

.current-files-tab-panel .nav>li>a .file-close-icon {margin-left: 10px; top: 2px; cursor: pointer;}
.current-files-tab-panel .nav>li>a .file-close-icon:hover {color: #d77;}
.current-files-tab-panel .nav>li.active>a .file-close-icon:hover {color: red;}

.edit-box-container {overflow-y: auto; overflow-x: hidden;}
.edit-box {background-color: #fff; color: #000; padding: 5px;}

.footer {position: absolute; bottom: 0; width: 100%; background-color: #000; padding: 5px;}

.modal {top: 25% !important;}
.modal-header {padding: 5px;}
.modal-content {background-color: #555; border: 10px solid #333;}
.modal-body {padding: 5px;}
.modal-footer {padding: 5px; border-top: none;}