*{
	font-size: 9pt;
}

body{color: #ccc; background-color: #333;}

.top-navbar{border-radius: 0px;}
.top-navbar .navbar-nav>li>.dropdown-menu{background-color: #ccc;}
.top-navbar .dropdown-menu>li{border-bottom: 1px solid #bbb;}
/*.top-navbar .dropdown-menu>li>a{color: #ccc;}*/
.top-navbar .dropdown-menu>li>a:hover{color: #fff; background-color: #444;}