<div class="modal-header">
	<h4>{{modalOptions.headerText}}</h4>
</div>
<div class="modal-body">
	<p>{{modalOptions.bodyText}}</p>
	<form ng-submit="(file_name && modalOptions.ok())">
		<input type="text" class="form-control input-sm" ng-model="file_name" autofocus />
	</form>
</div>
<div class="modal-footer">
	<button type="button" class="btn btn-default btn-xs"
		data-ng-click="modalOptions.close()">{{modalOptions.closeButtonText}}</button>
	<button class="btn btn-danger btn-xs"  ng-disabled="!file_name"
		data-ng-click="modalOptions.ok();">{{modalOptions.actionButtonText}}</button>
</div>